@use '../custom' as *;

.container-portfolio {
    padding: 20px;
    display: flex;
    text-align: center;
    margin: auto;
    width: 65%;

    .card {
        padding: 10px;
        height: 400px;

        img {
            height: 200px;
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
}

.portfolio-box {
    background-color: $primary;
    border-radius: 5px;
    padding: 20px;
    width: 1200px;
    h1 {
        color: $gray-400;
    }
}