@use '../custom' as *;

//Gradient mixin
@mixin gradient {
    background: linear-gradient(90deg, rgba($secondary, 1), rgba($primary, 1));
}

@mixin description-margins {
    margin-left: 80px;
    margin-right: 80px;
}